
body {
    margin: 0;
    background-color: #E5E7E9;
    font-family: 'Mate', serif;
}
#logo{
  top:0;
  text-align:center;
  padding: 0px 0px;
  font-family:'Mate', serif;

}
.navbar {
   overflow:hidden;
  background:#D7DBDD;
  position: fixed;
  top:0;
  width: 100%;
  text-align:center;
}
.navbar a{
   float:center;
  color:black;
  padding:0px 20px;
  text-decoration:none;
}

.navbar a:hover{
  text-decoration:none;
  font-size:25px;
  font-weight:bold;
}

#content{
  text-align:justify;
  margin-top:50px;
  padding: 30px;
  font-size:20px;
}
*{
  box-sizing: border-box;
}
.imbox{
  float:left;
  width:80.0%;
  height:50.0%;
  padding: 0px;
  overflow:scroll;
  background-color:#E5E7E9;
}

#pdf container{
  margin-top:0px;
  padding:30%;
  width:100%;
  height:100%;
  float: left
}
h1, h3{
  text-align:left;
  font-family: 'Playfair Display SC', serif;
}
.videocontainer{
  width:80%;
  height:50.0%;
}
